body
    background-color:whitesmoke;
    color:black;
}
h1{
    color:blue;
    background-color: azure;
}
h2{
    color:black;
    background-color: blanchedalmond;
}
h2:hover, h1:hover, h3:hover{
    color:yellow;
    background-color:black;
}
h3{
    color:blueviolet;
    background-color: bisque;
}