body{
    background-color: aqua;
    color:black;
}
h1{
    color:blue;
    background-color: azure;
}
h2{
    color:black;
    background-color: blanchedalmond;
}
h3{
    color:blueviolet;
    background-color: bisque;
}